<div class="row-fluid">
    <div class="span12">
        <p>&nbsp;</p>
        <p><strong>Flow modifications</strong>, per switch, to suppressed sending packets
        from this flow to the controller (applied bi-directional for TCP):</p>

        <!-- Table of flow modification events for the flow: -->
        <div>
            <table class="table table-striped" id="flowModEvents">
                <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th>DPID</th>
                        <th>Stand down (If 1 then didn't re-suppress)</th>
                    </tr>
                </thead>
                <tbody id="flow_mods">
                </tbody>
            </table>
        </div>

    </div>
</div>
