<div class="row-fluid">
    <div class="span12">

      <a href="#what">
        <- Back
      </a>

        <p>Details of Packet-In events for a particular flow:</p>

        <!-- Table of events for the flow: -->
        <div>
            <table class="table table-striped" id="flowDetailEvents">
                <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th>DPID</th>
                        <th>In Port</th>
                        <th>Packet Length</th>
                        <th>Eth Src</th>
                        <th>Eth Dst</th>
                        <th>Eth Type</th>
                        <th>IP Src</th>
                        <th>IP Dst</th>
                        <th>IP Proto</th>
                        <th>TP Src</th>
                        <th>TP Dst</th>
                        <th>TP Flags</th>
                        <th>TP Seq Src</th>
                        <th>TP Seq Dst</th>
                    </tr>
                </thead>
                <tbody id="flow">
                </tbody>
            </table>
        </div>
    </div>
</div>
