<!-- inserts a table row describing an individual packet-in record -->
    <td>
      <%= timestamp %>
    </td>
    <td>
      <%= dpid %>
    </td>
    <td>
      <%= in_port %>
    </td>
    <td>
      <%= length %>
    </td>
    <td>
      <%= eth_src %>
    </td>
    <td>
      <%= eth_dst %>
    </td>
    <td>
      <%= eth_type %>
    </td>
    <td>
      <%= ip_src %>
    </td>
    <td>
      <%= ip_dst %>
    </td>
    <td>
      <%= proto %>
    </td>
    <td>
      <%= tp_src %>
    </td>
    <td>
      <%= tp_dst %>
    </td>
    <td>
      <%= tp_flags %>
    </td>
    <td>
      <%= tp_seq_src %>
    </td>
    <td>
      <%= tp_seq_dst %>
    </td>
