<!-- inserts a table row describing an individual flow -->
    <td>
    </td>
    <td>
      <span data-toggle="tooltip" title="<%= src_hover %>">
      <%= src %>
      </span>
    </td>
    <td>
      <span data-toggle="tooltip" title="<%= dst_hover %>">
      <%= dst %>
      </span>
    </td>
    <td>
      <span data-toggle="tooltip" title="<%= proto_hover %>">
        <%= proto %>
      </span>
    </td>
    <td>
      <%= tp_src %>
    </td>
    <td>
      <%= tp_dst %>
    </td>
    <td>
      <%= classification %>
    </td>
    <td>
      <span data-toggle="tooltip" title="<%= actions_hover %>">
      <%= actions %>
      </span>
    </td>
    <td>
      <span data-toggle="tooltip" title="<%= data_sent_hover %>">
        <%= data_sent %>
      </span>
    </td>
    <td>
      <span data-toggle="tooltip" title="<%= data_received_hover %>">
        <%= data_received %>
      </span>
    </td>

