<div class="row-fluid">
    <div class="span12">
        <table>
            <tr>
                <td>
                    <span id="filter">
                    </span>
                </td>
                <td>
                    <button class="refreshFlows">
                        <span class="glyphicon glyphicon-refresh" style="color:blue" aria-hidden=true>
                        </span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>



