<div class="row-fluid">
    <div class="span12">

        <p>Identities on the network:</p>

        <div>
            <table class="table" id="switches">
                <thead>
                    <tr>
                        <th>Harvest Type</th>
                        <th>Host Name</th>
                        <th>Service Name</th>
                        <th>MAC Address</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                <tbody id="identity">
                </tbody>
            </table>
        </div>
    </div>
</div>



