<div class="row-fluid">
    <div class="span12">
        <h3>Switches</h3>
        <p>Connected OpenFlow switches:</p>
        <div>
            <table class="table" id="switches">
                <thead>
                    <tr>
                        <th>DPID</th>
                        <th>Type</th>
                        <th>IP Address</th>
                        <th>Software</th>
                    </tr>
                </thead>
                <tbody id="switch">
                </tbody>
            </table>
        </div>
    </div>
</div>



