<div class="row-fluid">
    <div class="span12">
        <p>Connected OpenFlow switches:</p>
        <div>
            <table class="table table-striped" id="switches">
                <thead>
                    <tr>
                        <th width=30><!-- button class="refresh_switches" --><!-- span class="glyphicon glyphicon-refresh" style="color:blue" aria-hidden=true --><!-- /span --><!-- /button --></th>
                        <th>DPID</th>
                        <th>Type</th>
                        <th>IP Address</th>
                        <th>Software</th>
                    </tr>
                </thead>
                <tbody id="switch">
                </tbody>
            </table>
        </div>
    </div>
</div>



