docs/build/
docs/_build
docs/_static
docs/_templates
nmeta/*.pyc
tests/__pycache__/
tests/*.pyc
nmeta/custom_classifiers/*.pyc
nmeta/custom_classifiers/__init__.pyc
nmeta/webUI/experimental
nmeta/config/user/*.yaml
