body {
    background-color: #eee;
}

.packetinContainer {
    border: 1px solid #aaa;
    width: 300px;
    height: 80px;
    background-color: #fff;
    float: left;
    margin: 5px;
}
.packetinContainer img {
    float: left;
    margin: 10px;
}
.packetinContainer ul {
    list-style-type: none;
}
